@model dotnet.Models.Item

@{
    ViewData["Title"] = "Adiciona novo item no inventario pessoal";
}

<h2>Incluir um novo item no inventário </h2>

<div class="form-group">
  <form asp-action="Criar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-6">
      <label asp-for="Nome" class="label-control"></label>
      <input asp-for="Nome" type="text" class="form-control"/>
      <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-6">
      <label asp-for="Descricao" class="label-control"></label>
      <input asp-for="Descricao" type="text" class="form-control" />
      <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-6">
      <label asp-for="Quantidade" class="label-control"></label>
      <input asp-for="Quantidade" type="text" class="form-control"/>
      <span asp-validation-for="Quantidade" class="text-danger"></span>
    </div>
    </br>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Salvar</button>
      </div>
  </form>
</div>